---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import { identity } from "../../config";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content, remarkPluginFrontmatter } = await render(post);
---

<Layout
  seo={{
    title: post.data.title,
    description: post.data.description,
    image: post.data.image.url,
  }}
>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-4">{post.data.title}</h1>
    <p class="opacity-60 mb-6">
      {post.data.description}
    </p>
    <div class="flex gap-4 mb-6">
      <div>
        <p class="font-medium">{identity.name}</p>
        <p class="opacity-60">
          {post.data.pubDate.toLocaleDateString()} · {
            remarkPluginFrontmatter.minutesRead
          }
        </p>
      </div>
    </div>
    <Image
      src={post.data.image.url}
      alt={post.data.image.alt}
      width={800}
      height={300}
      class="apsect-video w-full rounded-xl mb-10"
    />
    <article
      class="prose prose-invert prose-a:text-blue-300 prose-a:underline-offset-4 prose-headings:mb-2 prose-p:text-[#b3b3b3]"
    >
      <Content />
    </article>
  </section>
</Layout>
